.btn {
  border-radius: 2px;
  outline: none !important;

  &:not(.disabled):not([disabled]) {
    &.active,
    &:active,
    &.focus,
    &:focus {
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .08);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .08);
    }
  }

  &:not(.btn-default) {
    border-color: transparent !important;
  }
}

@each $name, $colors in $colors-map {
  .btn-#{$name} {
    background-color: nth($colors, 3);
    color: $color-white !important;

    &.active,
    &:active,
    &.focus,
    &:focus,
    &:hover {
      background-color: nth($colors, 4);
    }

    &.active,
    &:active,
    &.focus,
    &:focus {
      &:hover {
        background-color: nth($colors, 5);
      }
    }

    &.disabled,
    &[disabled] {
      background-color: nth($colors, 2) !important;
    }
  }
}

.btn-shadow {
  @extend .box-shadow;
  border: none;
  padding: 7px 13px;
  background-color: $color-white;

  &.btn-xs {
    padding: 2px 6px;
  }

  &.btn-sm {
    padding: 6px 11px;
  }

  &.btn-lg {
    padding: 11px 17px;
  }

  &:hover {
    background-color: $color-white-dark;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    background-color: $color-white-dark;
    text-shadow: 0 2px 3px $color-white;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    &:hover {
      background-color: $color-white-darker;
    }
  }

  &.disabled,
  &[disabled] {
    background-color: $color-white-dark !important;
  }
}

// labeled buttons
.btn-default {
  border-color: #dadada !important;

  &.active,
  &:active,
  &.focus,
  &:focus,
  &:hover {
    background-color: $color-white-dark;
  }

  &.active,
  &:active,
  &.focus,
  &:focus {
    &:hover {
      background-color: $color-white-darker;
    }
  }
}

.btn-primary {
  @extend .btn-blue;
}

.btn-success {
  @extend .btn-green;
}

.btn-info {
  @extend .btn-cyan;
}

.btn-warning {
  @extend .btn-yellow;
}

.btn-danger {
  @extend .btn-red;
}

// button icon
.btn-icon {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 0;
  text-align: center;

  &.btn-xs {
    width: 22px;
    height: 22px;
  }

  &.btn-sm {
    width: 30px;
    height: 30px;
  }

  &.btn-lg {
    width: 46px;
    height: 46px;
  }
}