.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;

  &:hover:not(:focus) {
    border-top: 1px solid #aaa;
  }
}

.form-group-sm {
  .form-control {
    border-radius: 2px;
  }
}

.form-horizontal .form-group-sm .checkbox,
.form-horizontal .form-group-sm .radio {
  padding-top: 4px;
}

.checkbox label + label,
.radio label + label {
  margin-left: 10px;
}

input[type=radio] {
  margin: 3px 0 0;
}

.cui-radio label {
  position: relative;
}

.cui-radio label input {
  display: none;
}

.cui-radio input + ins:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
}

.cui-radio:hover input + ins:before,
.cui-radio label:hover input + ins:before{
  border-color: #3395FC;
}

.cui-radio input:checked + ins {
  border-color: red;
}