.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;

  &:hover:not(:focus) {
    border-top: 1px solid #aaa;
  }
}

.form-group-sm {
  .form-control {
    border-radius: 2px;
  }
}

.form-horizontal .form-group-sm .checkbox,
.form-horizontal .form-group-sm .radio {
  padding-top: 4px;
}

.checkbox label + label,
.radio label + label {
  margin-left: 10px;
}

input[type=radio] {
  margin: 3px 0 0;
}

.cui-radio {
  display: inline-block;
  position: relative;

  & + .cui-radio {
    margin-left: 10px;
  }

  label {
    position: relative;
  }

  input {
    display: none;

    & + ins {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      border: 1px solid #dbdbdb;
      border-radius: 50%;
    }

    &:checked {
      & + ins {
        border: none;
        background-color: $color-blue-lighter;
        -webkit-box-shadow: inset 0 4px 6px $color-blue;
        box-shadow: inset 0 4px 6px $color-blue;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 4px;
          height: 4px;
          margin-top: -2px;
          margin-left: -2px;
          border-radius: 50%;
          background-color: $color-white;
          -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  &:hover input:not(:checked) + ins,
  label:hover input:not(:checked) + ins{
    border-color: $color-blue-light;
  }
}