// defined color
$color-gray: #999;
$color-gray-dark: darken($color-gray, 7%);
$color-gray-darker: darken($color-gray, 14%);
$color-gray-light: lighten($color-gray, 7%);
$color-gray-lighter: lighten($color-gray, 14%);

$color-blue: #007dc6;
$color-blue-dark: darken($color-blue, 7%);
$color-blue-darker: darken($color-blue, 14%);
$color-blue-light: lighten($color-blue, 7%);
$color-blue-lighter: lighten($color-blue, 14%);

$color-green: #00a65a;
$color-green-dark: darken($color-green, 7%);
$color-green-darker: darken($color-green, 14%);
$color-green-light: lighten($color-green, 7%);
$color-green-lighter: lighten($color-green, 14%);

$color-cyan: #2dacd1;
$color-cyan-dark: darken($color-cyan, 7%);
$color-cyan-darker: darken($color-cyan, 14%);
$color-cyan-light: lighten($color-cyan, 7%);
$color-cyan-lighter: lighten($color-cyan, 14%);

$color-brown: #d67c1c;
$color-brown-dark: darken($color-brown, 7%);
$color-brown-darker: darken($color-brown, 14%);
$color-brown-light: lighten($color-brown, 7%);
$color-brown-lighter: lighten($color-brown, 14%);

$color-yellow: #f3c200;
$color-yellow-dark: darken($color-yellow, 7%);
$color-yellow-darker: darken($color-yellow, 14%);
$color-yellow-light: lighten($color-yellow, 7%);
$color-yellow-lighter: lighten($color-yellow, 14%);

$color-orange: #ff8216;
$color-orange-dark: darken($color-orange, 7%);
$color-orange-darker: darken($color-orange, 14%);
$color-orange-light: lighten($color-orange, 7%);
$color-orange-lighter: lighten($color-orange, 14%);

$color-red: #ef4836;
$color-red-dark: darken($color-red, 7%);
$color-red-darker: darken($color-red, 14%);
$color-red-light: lighten($color-red, 7%);
$color-red-lighter: lighten($color-red, 14%);

$color-purple: #605ca8;
$color-purple-dark: darken($color-purple, 7%);
$color-purple-darker: darken($color-purple, 14%);
$color-purple-light: lighten($color-purple, 7%);
$color-purple-lighter: lighten($color-purple, 14%);

$color-white: #fff;
$color-white-dark: darken($color-white, 7%);
$color-white-darker: darken($color-white, 14%);

$color-black: #000;
$color-black-light: lighten($color-black, 10%);
$color-black-lighter: lighten($color-black, 20%);

// functional colors
$color-primary: $color-blue;
$color-success: $color-green;
$color-info: $color-cyan;
$color-warning: $color-yellow;
$color-danger: $color-red;

// color lists
$colors-map: (
  "gray": ($color-gray-lighter, $color-gray-light, $color-gray, $color-gray-dark, $color-gray-darker),
  "blue": ($color-blue-lighter, $color-blue-light, $color-blue, $color-blue-dark, $color-blue-darker),
  "green": ($color-green-lighter, $color-green-light, $color-green, $color-green-dark, $color-green-darker),
  "cyan": ($color-cyan-lighter, $color-cyan-light, $color-cyan, $color-cyan-dark, $color-cyan-darker),
  "brown": ($color-brown-lighter, $color-brown-light, $color-brown, $color-brown-dark, $color-brown-darker),
  "yellow": ($color-yellow-lighter, $color-yellow-light, $color-yellow, $color-yellow-dark, $color-yellow-darker),
  "orange": ($color-orange-lighter, $color-orange-light, $color-orange, $color-orange-dark, $color-orange-darker),
  "red": ($color-red-lighter, $color-red-light, $color-red, $color-red-dark, $color-red-darker),
  "purple": ($color-purple-lighter, $color-purple-light, $color-purple, $color-purple-dark, $color-purple-darker)
)