// defined color
$color-gray: #777;
$color-gray-dark: darken($color-gray, 7%);
$color-gray-darker: darken($color-gray, 14%);
$color-gray-light: lighten($color-gray, 7%);
$color-gray-lighter: lighten($color-gray, 14%);

$color-blue: #0073b7;
$color-blue-dark: darken($color-blue, 7%);
$color-blue-darker: darken($color-blue, 14%);
$color-blue-light: lighten($color-blue, 7%);
$color-blue-lighter: lighten($color-blue, 14%);

$color-green: #5cb85c;
$color-green-dark: darken($color-green, 7%);
$color-green-darker: darken($color-green, 14%);
$color-green-light: lighten($color-green, 7%);
$color-green-lighter: lighten($color-green, 14%);

$color-orange: #ff8216;
$color-orange-dark: darken($color-orange, 7%);
$color-orange-darker: darken($color-orange, 14%);
$color-orange-light: lighten($color-orange, 7%);
$color-orange-lighter: lighten($color-orange, 14%);

$color-white: #fff;
$color-white-dark: darken($color-white, 7%);
$color-white-darker: darken($color-white, 14%);

$color-black: #000;
$color-black-light: lighten($color-black, 7%);
$color-black-lighter: lighten($color-black, 14%);

$color-primary: $color-blue;
$color-success: $color-green;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;