.navbar {
  height: 50px;
}

.navbar::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .avatar {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: #fff;
}

.navbar .name {
  padding-left: .3rem;
  padding-right: .3rem;
}

.navbar .nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: .75rem !important;
  padding-right: .75rem !important;
}

.navbar .nav-link.active,
.navbar .nav-link:active,
.navbar .nav-link:hover {
  background-color: rgba(0, 0, 0, .1);
}

.navbar .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  margin-top: 0;
}

.navbar .navbar-nav {
  height: 100%;
}

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link::after {
  content: none;
}

.navbar .navbar-nav .notifications .dropdown-menu {
  width: 300px;
}

.navbar .navbar-nav .notifications .nav-link .badge {
  font-size: 8px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -15px;
  margin-right: -17px;
}

.sidebar {
  user-select: none;
  background-color: #314961;
  min-height: 100vh;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item .nav {
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
  background-color: rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.sidebar .nav-link.active,
.sidebar .nav-link:active,
.sidebar .nav-link:hover {
  background-color: rgba(0, 0, 0, .1);
  color: #fff !important;
}

.sidebar .nav-link .fa-angle-right {
  transition: transform .3s;
}

.sidebar .nav-link:not(.collapsed) .fa-angle-right {
  transform: rotate(90deg);
}
