@import '../../sass/clear-ui';

.docs-page-title a:hover {
  text-decoration: none;
}

#docs-sidebar {
  li {
    a {
      border-left: 1px solid transparent;
      padding: 5px 10px;

      &:hover {
        background-color: transparent;
        border-left-width: 1px;
        border-left-color: #0073b7;
        font-weight: bold;
      }
    }

    &.active {
      a {
        border-left-width: 2px;
        border-left-color: #0073b7;
        padding-left: 9px;
        font-weight: bold;
      }
    }
  }
}

.docs-section {
  margin-bottom: 50px;
}

.docs-color-box {
  width: 100px;
  height: 80px;
  margin: auto;
  box-shadow: 0 0 1px $color-white-darker;
  box-sizing: border-box;
}