<nav class="cui-sidebar">
  <ul id="nav-accordion" class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/pages/colors.html">Colors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/pages/buttons.html">Buttons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/pages/forms.html">Forms</a>
    </li>
    <li class="nav-item nav-dropdown open">
      <a class="nav-link" data-toggle="collapse" data-target="#collapse1">Link 2</a>
      <ul id="collapse1" class="nav collapse" data-parent="#nav-accordion">
        <li class="nav-item">
          <a class="nav-link active" href="#">Link 21</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 22</a>
        </li>
      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link" data-toggle="collapse" data-target="#collapse2">Link 3</a>
      <ul id="collapse2" class="nav collapse" data-parent="#nav-accordion">
        <li class="nav-item">
          <a class="nav-link active" href="#">Link 31</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 32</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 4</a>
    </li>
  </ul>
</nav>